@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #2F89E8;
}
nav h1{
    color: #2F45E8;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}
/* On aligne avec le titre */
nav .onglets{
    margin-top: 3px;
    margin-left: 1000px;
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('image/font.png');
    background-size: cover;
    color: #fff;
    padding: 600px;
}
header h1{
    font-family: 'Playfair Display', serif;
    margin-top: -300px;
    font-size: 80px;
}
header h4{
    margin-top: -70px;
    font-size: 40px;
    text-align: center;
    border-bottom: 2px solid #fff;
}
header button{
    padding: 20px 30px;
    background-color: #fff;
    color:#000;
    border:none;
    margin-bottom: 10px;
    border-radius: 20px;
    outline:none;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 65%;
}
.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:20px;
}
.main .content .card .left{
   flex: 0 0 30%;
   padding: 20px;
   background-color:#1C61DC;
   color:#fff;
}
.main .content .card .right img{
    height:400px;
    width: 500px;
    margin-top: 5px;
}
section
{
    position:relative;
    width: 100%;
    height: 100vh;
}
.sec
{
    position: relative;
    padding: 8px 30px;
    background: #fff;
    color: #7597de;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec h2
{
    font-size: 2em;
    border-bottom: 1px solid #2b1055;
    width: 41%;
    margin-bottom: 10px;
    color: #2b1055;
}
.sec p
{
    font-size: 1em;
    color: #2b1055;
    margin-top: 5px;
}

footer{
    margin-top: 170px;
    border-top: 5px solid #2F89E8;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 7%;
    padding-bottom: 10px;
}
footer .contact{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .contact .contact{
    margin-right: 30px;
}
footer .contact .contact p{
    max-width: 300px;
}
footer #mail{
    color: rgb(181, 181, 181);
    width: 30%;
}
footer #contact{
    color: rgb(181, 181, 181);
    width: 40%;
}

/* @media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img{
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
} */